* {
  background-color: black;
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: black;
}

.header1 {
  display: flex;
  justify-content: space-between;
}

.header1 img:last-child:hover {
  border-left: 3px dotted whitesmoke;
  border-bottom: 3px solid orange;
  border-radius: 50%;
  cursor: pointer;
}

.header2 {
  display: flex;
  justify-content: space-around;
  color: whitesmoke;
  border-bottom: 1px solid rgb(205, 205, 205);
  padding-bottom: 1.5rem;
}

.header2 span:hover {
  color: #ffdea2;
  cursor: pointer;
}

.header1 input {
  height: 25px;
  align-self: center;
  border-bottom: 2px solid #ffd27f;
  border-radius: 5px;
  background-color: #242424;
  color: whitesmoke;
}

.header1 input:focus {
  outline: none;
  border-bottom: 3px solid #ffa500;
  align-self: center;
  width:400px;
}

.box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #0c0c0c;
}

.items {
  background-color: #000000;
  width: 300px;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

p {
  color: #ffd27f;
  text-align: center;
}

p:hover {
  color: #ffa500;
}

.items:hover {
  cursor: pointer;
  border-bottom: 1px solid #ffdea2;
  
}

.items img {
  margin-bottom: 10px;
}

.sconto {
  color: #000000;
  background: linear-gradient(0.25turn,#d1ff7b, #000000);
}

.stelle {
  color:#ffe6b8;
  margin-bottom: 2rem;
  font-size: 14px;
}

main {
  background-color: #5b5b5b;
}

h4 {
  font-weight: 300;
}

h4, h3 {
  margin: 0;
  padding: 0;
}
